body {
    scroll-behavior: smooth;
}
#cadastro {
    display:flex;
    background-color: rgb(255, 255, 255);
    width: 50%;
    height: 9%;
    left: 13vw;
    top: 3vw;
    border-radius: 0.9114583333333334vw;
    position: absolute;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    flex-direction: row;
    z-index: 5;
}
.fundocadastro {
    background-color: rgb(255, 255, 255);
    width: 30%;
    height: 90%;
    position: absolute;
    left: 31vw;
    top:  161vw;
    z-index: 5;
    border-radius: 2vw;
}
#baixe-app {
    display:flex;
    background-color: rgb(0, 255, 98);
    width: 12vw;
    height: 9vh;
    left: 74vw;
    top: 2vw;
    border-radius: 0.6510416666666666vw;
    position: absolute;
    justify-content: space-evenly; /*espacamento entre os elementos da linha*/
    align-items: center;
    align-content: center;
    flex-direction: row;
    font-family: 'Fredoka One';
    font-size: 1.5vw;
    z-index: 5;
}
#saiba-mais {
    display:flex;
    background-color: rgb(0, 255, 98);
    width: 16vw;
    height: 9vh;
    left: 27vw;
    top: 46vw;
    border-radius: 0.6510416666666666vw;
    position: absolute;
    justify-content: space-evenly; /*espacamento entre os elementos da linha*/
    align-items: center;
    align-content: center;
    flex-direction: row;
    font-family: 'Fredoka One';
    font-size: 1vw;
    z-index: 5;
}
#text1 {
    position: absolute;
    left: 17vw;
    top: 10vw;
    font-size: 1.5vw;
    font-family: 'Fredoka One';
    z-index: 5;
}
#text1-part2 {
    position: absolute;
    left: 15vw;
    top: 15vw;
    font-size: 1.9vw;;
    font-family: 'Fredoka One';
    z-index: 5;
}
#text2 {
    position: absolute;
    left: 15vw;
    top: 24vw;
    font-size: 1.9vw;
    font-family: 'Fredoka One';
    z-index: 5;
    line-height: 5.5vw;
}
#fundo1 {
    width: 100%;
    height: 70vw;
    position: absolute;
    top: 0vw;
    left: -0.1953125vw;
    z-index: 1;
}
#fundo2 {
    width: 43.9vw;
    height: 50vw;
    position: absolute;
    top: 69vw;
    left: 55vw;
    z-index: 1;
}
.beneficio-1-topico {
    position: absolute;
    top: 80vw;
    left: 8vw;
    z-index: 5;
}
.beneficio-1-descricao {
    position: absolute;
    top: 83vw;
    left: 9vw;
    z-index: 5;
    font-weight: 100;
}
#posicao-icon1 {
    position: absolute;
    top: 80vw;
    left: 48.5vw;
    z-index: 15;
    width: 7.161458333333333vw;
    height: 7.161458333333333vw;
}
.beneficio-2-topico {
    position: absolute;
    top: 94vw;
    left: 8vw;
    z-index: 15;
}
.beneficio-2-descricao {
    position: absolute;
    top: 98vw;
    left: 9vw;
    z-index: 5;
    font-weight: 100;
}
#posicao-icon2 {
    position: absolute;
    top: 94vw;
    left: 47.4vw;
    z-index: 5;
    width: 7.161458333333333vw;
    height: 7.161458333333333vw;
}
.beneficio-3-topico {
    position: absolute;
    top: 108.72vw;
    left: 8vw;
    z-index: 5;
}
.beneficio-3-descricao {
    position: absolute;
    top: 112.63vw;
    left: 9vw;
    z-index: 5;
    font-weight: 100;
}
#posicao-icon3 {
    position: absolute;
    top: 108.07vw;
    left: 47vw;
    z-index: 5; 
    width: 7.161458333333333vw;
    height: 7.161458333333333vw;
}
.beneficio-4-topico {
    position: absolute;
    top:  123.69vw;
    left: 8vw;
    z-index: 5;
}
.beneficio-4-descricao {
    position: absolute;
    top: 127.604vw;
    left: 8vw;
    z-index: 5;
}
.fonte2-topico {   
    font-family: 'Fredoka One';
    font-size: 2vw;
}
.fonte2-descricao {   
    font-family:sans-serif;
    font-size: 1.6276041666666667vw;
    font-weight: 100;
}


.posicao-beneficio4 {
    position: absolute;
    top: 136.06770833333334vw;
    left: 9vw;
    z-index: 5;
}
#posicao-icon4 {
    position: absolute;
    top: 121.80989583333333vw;
    left: 46.9vw;
    z-index: 5; 
    width: 7.161458333333333vw;
    height: 7.161458333333333vw;
}
.img1 {
    position: absolute;
    width: 20.1171875vw;
    height: 31.380208333333332vw;
    left:  63.541666666666664vw;
    top:  23.828125vw;
    border-radius: 1.5625vw;
    z-index: 2;
}
#fundo3 {
    width: 100%;
    height: 53vw;
    position: absolute;
    top: 156.25vw;
    left: 0vw;
    z-index: 1;
}
#cadastro2 {
    position: absolute;
    left: 35vw;
    top:  159.50520833333334vw;
    font-size: 2.5vw;
    font-family: 'Fredoka One';
    z-index: 5;
}

.texto4-posicao {
    position: absolute;
    left: 36vw;
    top:  163.41145833333334vw;
}
.texto5-posicao {
    position: absolute;
    left: 36vw;
    top: 166.34114583333334vw;
}
.fonte1 {
    font-family: sans-serif;
    font-size: 1.6276041666666667vw;
    z-index: 5;
    font-weight: 100;
}
.fonte2-topico {   
    font-family: 'Fredoka One';
    font-size: 2vw;
}
.fonte2-descricao {   
    font-family:sans-serif;
    font-size: 1.6276041666666667vw;
    font-weight: 100;
    z-index: 5;
}
.fonte3-exc {
    font-family: sans-serif;
    font-size: 1.7578125vw;
    z-index: 5;
    font-weight: 300;
}
.entrada {
    background-color: rgb(255, 255, 255);
    z-index: 5;
    width: 23vw;
    height: 2vw;
    border-color: rgb(206, 206, 206);
    border-radius:  1.3020833333333333vw;
    font-size:  1.3020833333333333vw;
}
.posicao-digite-seu-nome {
    position: absolute;
    left: 34vw;
    top: 168.9453125vw;
}
.posicao-digite-seu-sobrenome {
    position: absolute;
    left: 34vw;
    top: 174.15364583333334vw;
}
.posicao-digite-seu-email {
    position: absolute;
    left: 34vw;
    top: 179.36197916666666vw;
}
.posicao-digite-sua-senha {
    position: absolute;
    left: 34vw;
    top: 184.5703125vw;
}
.posicao-digite-seu-telefone {
    position: absolute;
    left: 34vw;
    top: 189.77864583333334vw;
}

.entrada-posicao-nome {
    position: absolute;
    left: 34vw;
    top: 172.8515625vw;
}
.entrada-posicao-sobrenome {
    position: absolute;
    left: 34vw;
    top: 178.05989583333334vw;
}
.entrada-posicao-email {
    position: absolute;
    left: 34vw;
    top:  183.26822916666666vw;
}
.entrada-posicao-senha {
    position: absolute;
    left: 34vw;
    top:  188.4765625vw;
}
.entrada-posicao-telefone {
    position: absolute;
    left: 34vw;
    top: 193.68489583333334vw;
}
.fonte-entrada {
    font-family: sans-serif;
    font-size: 1.7578125vw;
    z-index: 10;
    font-weight: 300;
}
.posicao-ja-tenho-conta {
    z-index: 10;
    position: absolute;
    left: 34vw;
    top: 195.1171875vw;
}
.botao-cadastro2 {
    z-index: 10;
    position: absolute;
    left: 38vw;
    top: 200.52083333333334vw;
    width: 15vw;
    height: 3vw;
    border-radius: 1.3020833333333333vw;
    border-color: rgb(0, 255, 42);
    background-color: rgb(0, 255, 42);
    justify-content: space-evenly; /*espacamento entre os elementos da linha*/
    align-items: center;
    align-content: center;
    flex-direction: row;
    font-family: 'Fredoka One';
    font-size: 1.5vw;
}
.posicao-ajude-a-divulgar-o-projeto {
    z-index: 10;
    position: absolute;
    left: 10vw;
    top: 208.33333333333334vw;
    font-family: 'Fredoka One';
    font-size: 2.2vw;
}
.posicao-ajude-a-divulgar-o-projeto-descricao {
    z-index: 10;
    position: absolute;
    left: 10vw;
    top: 212.890625vw;
}
.posicao-desenvolvedores {
    z-index: 10;
    position: absolute;
    left: 10vw;
    top: 227.21354166666666vw;
    font-family:'Fredoka One';
    font-size: 3vw;; 
    font-weight: 100;
}
.posicao-desenvolvedores-descriscao {
    z-index: 10;
    position: absolute;
    left: 10vw;
    top: 231.77083333333334vw;
    line-height: 2.2135416666666665vw;
}
.fundo4-posicao-forma {
    z-index: 1;
    position: absolute;
    left:0vw;
    top: 221.35416666666666vw;
    
    width: 100%;
    height: 65vw;
}
.imagem1 {
    z-index: 10;
    position: absolute;
    left: 60vw;
    top: 21vw;
    width: 21vw;
    height: 35vw;
    border-radius: 1.3020833333333333vw;
}

.imagem2 {
    z-index: 11;
    position: absolute;
    left: 70vw;
    top: 26vw;
    width: 21vw;
    height: 35vw;
    border-radius: 1.3020833333333333vw;
}
.final1 {
    z-index: 5;
    position: absolute;
    left: 13vw;
    top: 252vw;
    width: 30%;
    height: 55%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 100;
    font-size: 1vw
    
}
.final2 {
    z-index: 5;
    position: absolute;
    left: 50vw;
    top: 274.7vw;
    width: 40%;
    height: 5%;
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    color: white;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 100;
    font-size: 1vw
}
